{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
	<div>
		{% for val in value %}
			{% if val != 'ROLE_USER' %}
				{{ val }}
				<br/>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
