{% trans_default_domain 'FOSUserBundle' %}
<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin: 0 auto; margin-top: 100px; margin-bottom: 150px;">
                <div class="form-wrap">
                    <h1 style="margin-bottom: 30px">Register</h1>

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <div class="form-group">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.plainPassword) }}
                    </div>
                    <div>
                        <input class="btn btn-custom btn-lg btn-block btn-success" type="submit" value="{{ 'registration.submit'|trans }}"/>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% block stylesheets %}
    <style>
        div.form-group label { display: block;}
        div.form-group input
        {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
{% endblock %}
