{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	<div>
		<img src=" {{ (field_description.options.modifiedImagesDirectory ~ object.src) | src(field_description.options.modifiedImagesDirectory ~ object.src) }} " width="{{ field_description.options.imageWidth }}" />
	</div>
{% endblock %}
