{% trans_default_domain 'FOSUserBundle' %}
<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4" style="margin: 0 auto; margin-top: 150px">
				<div class="form-wrap">
					<h1>Log in</h1>

					{% if error %}
						<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<form action="{{ path("fos_user_security_check") }}" method="post">
						{% if csrf_token %}
							<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
						{% endif %}
						<div class="form-group">
							<label for="username">{{ 'security.login.username'|trans }}</label>
							<input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
						</div>
						<div class="form-group">
							<label for="password">{{ 'security.login.password'|trans }}</label>
							<input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" />
						</div>
						<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
						<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
						<input type="submit" id="_submit" class="btn btn-custom btn-lg btn-block btn-info" name="_submit" value="{{ 'security.login.submit'|trans }}" />
					</form>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div>
