{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	<div>
		<img src=" {{ object.deeplink | src(object.deeplink)}} " width="{{ field_description.options.imageWidth }}" />
	</div>
{% endblock %}
